<template name="home">
    <div style="overflow:hidden;">
        <header class="header" id="inicio"><!--header-start-->
            <div class="container">
                <figure class="logo animated fadeInDown delay-07s">
                    <a href="#"><img src="/img/logo.png" alt=""></a>
                </figure>
                <h1 class="animated fadeInDown delay-07s">¡Bienvenido!</h1>
                <h2 class="animated fadeInDown delay-07s">Soy Ramón Serrano</h2>
                <ul class="we-create animated fadeInUp delay-1s">
                    <li>Analista y Desarrollador de software de calidad e innovación.</li>
                    <li>Si quieres saber sobre sitios web, aplicaciones, sistemas de información, y más software de calidad que puedes obtener...</li>
                </ul>
                <a class="link animated fadeInUp delay-1s" href="#servicios">Seguir viendo</a>
            </div>
        </header>
        <!--header-end-->
    </div>
    
    {{> homeMenu }}
    
    <section class="main-section" id="servicios"><!--main-section-start-->
        {{> services }}
    </section>
    <!--main-section-end-->

    <section class="main-section alabaster"><!--main-section alabaster-start-->
        {{> featuredWork }}
    </section>
    <!--main-section alabaster-end-->

    <section class="main-section paddind" id="portafolio"><!--main-section-start-->
        {{> portfolio }}
    </section>
    <!--main-section-end-->

    <!--
    <section class="main-section client-part" id="clientes">
        {{> client }}
    </section>
    -->
    <!--main-section client-part-end-->
    <div class="c-logo-part"><!--c-logo-part-start-->
        <div class="container">
            <ul>
                <li><a href="#"><img src="/img/c-liogo1.png" alt=""></a></li>
                <li><a href="#"><img src="/img/c-liogo2.png" alt=""></a></li>
                <li><a href="#"><img src="/img/c-liogo3.png" alt=""></a></li>
                <li><a href="#"><img src="/img/c-liogo4.png" alt=""></a></li>
                <li><a href="#"><img src="/img/c-liogo5.png" alt=""></a></li>
            </ul>
        </div>
    </div>
    <!--c-logo-part-end-->
    <section class="main-section team" id="equipo"><!--main-section team-start-->
        {{> team }}
    </section>
    <!--main-section team-end-->


    <section class="business-talking"><!--business-talking-start-->
        <div class="container">
            <h2>¿Quieres una solución digital?</h2>
        </div>
    </section>
    <!--business-talking-end-->
    <section class="main-section contact" id="contacto">
        {{> contact }}
    </section>
</template>