<template name="homeMenu">
    <nav class="navbar navbar-material-green main-nav-outer" id="nav-scroll"><!--main-nav-start-->
        <div class="container">
            <ul class="main-nav">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#portafolio">Portafolio</a></li>
                <li class="small-logo"><a href="#header"><img src="/img/small-logo.png" alt=""></a></li>
                <li><a href="#equipo">Equipo</a></li>
                <li><a href="#contacto">Contacto</a></li>
                {{#if currentUser}}
                    <li id="user-actions" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{currentUserDisplayName}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" id="userProfile"><i class="fa fa-user fa-fw"></i> Perfil de usuario</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#" id="signOut"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesion</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li id="user-actions"><a href="{{pathFor 'signIn'}}">Iniciar sesion</a></li>
                {{/if}}
            </ul>
            <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#inicio">
                Inicio
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="responsive-nav">
            <ul class="nav navbar-nav">
                <li><a class="navigation" href="#servicios">Servicios</a></li>
                <li><a class="navigation" href="#portafolio">Portafolio</a></li>
                <li><a class="navigation" href="#equipo">Equipo</a></li>
                <li><a class="navigation" href="#contacto">Contacto</a></li>
                {{#if currentUser}}
                    <li id="user-actions" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{currentUserDisplayName}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" id="userProfile"><i class="fa fa-user fa-fw"></i> Perfil de usuario</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#" id="signOut"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesion</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li id="user-actions"><a href="{{pathFor 'signIn'}}">Iniciar sesion</a></li>
                {{/if}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <!--main-nav-end-->
</template>