<template name="notFound">
    <div class="container">
        <div class="row">
            <p></p>
            <div class="not-found well shadow-z-3">
                <h2>Error 404: Recurso no encontrado</h2>
                <p>La página o la URL que usted está buscando no se encuentra disponible.</p>
                <p><a class="btn btn-primary" 
                      href="{{ pathFor 'home' }}">Volver al Inicio</a>
                </p>
            </div>
        </div>
    </div>
</template>