<template name="portfolio">
	<div class="container">
        <h2>Portfolio</h2>
        <h6>Fresh portfolio of designs that will keep you wanting more.</h6>

        <div class="portfolioFilter">
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li>
                    <a href="#" data-filter="*" class="current">All</a>
                </li>
                <li>
                    <a href="#" data-filter=".branding">Branding</a>
                </li>
                <li>
                    <a href="#" data-filter=".webdesign">Web design</a>
                </li>
                <li>
                    <a href="#" data-filter=".printdesign">Print design</a>
                </li>
                <li>
                    <a href="#" data-filter=".photography">Photography</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
        <div class="Portfolio-box printdesign">
            <a href="#modal-1" data-toggle="modal" data-target="#modal-1">
                <img src="/img/Portfolio-pic1.jpg" alt="">
            </a>

            <h3>Foto Album</h3>

            <p>Print Design</p>
        </div>
        <div class="Portfolio-box webdesign">
            <a href="#modal-2" data-toggle="modal" data-target="#modal-2">
                <img src="/img/Portfolio-pic2.jpg" alt="">
            </a>

            <h3>Luca Theme</h3>

            <p>Web Design</p>
        </div>
        <div class="Portfolio-box branding">
            <a href="#modal-3" data-toggle="modal" data-target="#modal-3">
                <img src="/img/Portfolio-pic3.jpg" alt="">
            </a>

            <h3>Uni Sans</h3>

            <p>Branding</p>
        </div>
        <div class="Portfolio-box photography">
            <a href="#modal-4" data-toggle="modal" data-target="#modal-4">
                <img src="/img/Portfolio-pic4.jpg" alt="">
            </a>

            <h3>Vinyl Record</h3>

            <p>Photography</p>
        </div>
        <div class="Portfolio-box branding">
            <a href="#modal-5" data-toggle="modal" data-target="#modal-5">
                <img src="/img/Portfolio-pic5.jpg" alt="">
            </a>

            <h3>Hipster</h3>

            <p>Branding</p>
        </div>
        <div class="Portfolio-box photography">
            <a href="#modal-6" data-toggle="modal" data-target="#modal-6">
                <img src="/img/Portfolio-pic6.jpg" alt="">
            </a>

            <h3>Windmills</h3>

            <p>Photography</p>
        </div>
    </div>
    <div class="portfolioModalsContainer">
        <div class="modal" id="modal-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/Portfolio-pic3.jpg" alt="">

                        <div class="description-box">
                            <h4>Coffee Cup</h4>

                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="https://www.google.com" target="_blank">View details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/Portfolio-pic3.jpg" alt="">

                        <div class="description-box">
                            <h4>Coffee Cup</h4>

                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="https://www.google.com" target="_blank">View details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-3">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/Portfolio-pic3.jpg" alt="">

                        <div class="description-box">
                            <h4>Coffee Cup</h4>

                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="https://www.google.com" target="_blank">View details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-4">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/Portfolio-pic3.jpg" alt="">

                        <div class="description-box">
                            <h4>Coffee Cup</h4>

                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="https://www.google.com" target="_blank">View details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-5">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/Portfolio-pic3.jpg" alt="">

                        <div class="description-box">
                            <h4>Coffee Cup</h4>

                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="https://www.google.com" target="_blank">View details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/Portfolio-pic3.jpg" alt="">

                        <div class="description-box">
                            <h4>Coffee Cup</h4>

                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="https://www.google.com" target="_blank">View details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>