<template name="contact">
	<div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-7 wow fadeInLeft">
                <div class="contact-info-box phone clearfix">
                    <h3><i class="fa fa-phone"></i>Teléfono:</h3>
                    <span>+58 424-216-9569</span>
                </div>
                <div class="contact-info-box email clearfix">
                    <h3><i class="fa fa-pencil"></i>Correo electrónico (Empresarial):</h3>
                    <span>rserrano@mowebjobs.com</span>
                </div>
                <div class="contact-info-box email clearfix">
                    <h3><i class="fa fa-pencil"></i>Correo electrónico:</h3>
                    <span>rameduardserrano@gmail.com</span>
                </div>
                <ul class="social-link">
                    <li class="github">
                        <a href="https://github.com/RamEduard">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                <div class="form">
                    <input class="input-text" type="text" name="" placeholder="Escribe tu nombre *" required>
                    <input class="input-text" type="text" name="" placeholder="Escribe tu correo *" required>
                    <textarea class="input-text text-area" cols="0" rows="0"
                              placeholder="Escribe tu mensaje *" required></textarea>
                    <input class="input-btn" type="submit" value="enviar mensaje">
                </div>
            </div>
        </div>
    </div>
</template>